body {
  /* background-color: rgb(199, 209, 219); */
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 40px auto;
}

h1 {
  font-size: 29px;
}
input,
textarea,
button {
  width: 100%;
  margin: 10px 0;
  padding: 9px;
}
button {
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}
